In [1]:
import requests
import json

In [2]:
url = 'https://apitempo.inmet.gov.br/estacao/2022-06-01/2022-06-09/A201'
resultado = requests.get(url)

In [3]:
dados_inmet_org = resultado.json()
dados_inmet_str = json.dumps(dados_inmet_org)

In [4]:
import pandas as pd
import numpy as np

In [5]:
dados_inmet_tabla = pd.read_json(dados_inmet_str)
dados_inmet_tabla

,DC_NOME,PRE_INS,TEM_SEN,VL_LATITUDE,PRE_MAX,UF,RAD_GLO,PTO_INS,TEM_MIN,VL_LONGITUDE,...,VEN_VEL,PTO_MIN,TEM_MAX,TEN_BAT,VEN_RAJ,TEM_CPU,TEM_INS,UMD_INS,CD_ESTACAO,HR_MEDICAO
0,BELÉM,1007.7,27.0,-1.411228,1007.7,PA,-0.5,23.3,23.6,-48.439512,...,0.0,23.1,23.8,13.0,1.2,26,23.7,98,A201,0
1,BELÉM,1008.5,27.3,-1.411228,1008.5,PA,-0.7,23.6,23.7,-48.439512,...,0.3,23.3,23.9,13.0,2.2,26,23.9,98,A201,100
2,BELÉM,1008.6,27.4,-1.411228,1008.6,PA,-1.2,23.7,23.8,-48.439512,...,0.3,23.5,24.0,13.0,2.2,25,24.0,98,A201,200
3,BELÉM,1008.4,27.2,-1.411228,1008.8,PA,-0.8,23.4,23.8,-48.439512,...,0.2,23.4,24.0,13.0,3.1,25,23.8,98,A201,300
4,BELÉM,1007.7,27.2,-1.411228,1008.4,PA,-1.3,23.4,23.8,-48.439512,...,0.0,23.4,23.9,13.0,1.9,25,23.8,98,A201,400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,BELÉM,1007.0,33.5,-1.411228,1007.1,PA,1748.5,25.5,28.1,-48.439512,...,1.3,24.6,31.0,14.6,4.0,33,30.7,74,A201,1900
212,BELÉM,1008.3,25.5,-1.411228,1008.7,PA,142.9,22.7,23.3,-48.439512,...,1.4,22.6,30.8,13.1,11.3,30,23.3,96,A201,2000
213,BELÉM,1008.6,26.6,-1.411228,1008.6,PA,17.7,22.8,23.3,-48.439512,...,0.1,22.6,23.5,13.1,4.1,27,23.4,97,A201,2100
214,BELÉM,1009.0,26.6,-1.411228,1009.0,PA,1.6,22.9,23.3,-48.439512,...,0.4,22.8,23.4,13.0,1.9,26,23.4,97,A201,2200
215,BELÉM,1009.9,26.3,-1.411228,1009.9,PA,-0.1,22.7,23.2,-48.439512,...,0.1,22.6,23.4,13.0,1.9,25,23.3,96,A201,2300

In [6]:
dados_inmet = dados_inmet_tabla[['DT_MEDICAO', 'HR_MEDICAO', 'TEM_INS', 'UMD_INS', 'RAD_GLO']]
dados_inmet

     DT_MEDICAO  HR_MEDICAO  TEM_INS  UMD_INS  RAD_GLO
0    2022-06-01           0     23.7       98     -0.5
1    2022-06-01         100     23.9       98     -0.7
2    2022-06-01         200     24.0       98     -1.2
3    2022-06-01         300     23.8       98     -0.8
4    2022-06-01         400     23.8       98     -1.3
..          ...         ...      ...      ...      ...
211  2022-06-09        1900     30.7       74   1748.5
212  2022-06-09        2000     23.3       96    142.9
213  2022-06-09        2100     23.4       97     17.7
214  2022-06-09        2200     23.4       97      1.6
215  2022-06-09        2300     23.3       96     -0.1

[216 rows x 5 columns]

In [7]:
s

NameError: name 's' is not defined